@model IEnumerable<CyberTTRPGAideWeb.Models.Entities.CharacterSheet>

@{
    ViewData["Title"] = "Characters";
}

<h1> Characters </h1>

<p>
    <a asp-action="Create" class="cb-text-light">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="cb-text-light">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th class="cb-text-light">
                @Html.DisplayNameFor(model => model.CharacterName)
            </th>
            <th class="cb-text-light">
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th class="cb-text-light"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cb-text-lightish">
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td class="cb-text-lightish">
                    @Html.DisplayFor(modelItem => item.CharacterName)
                </td>
                <td class="cb-text-lightish">
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="cb-text-light">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="cb-text-light">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="cb-text-light">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
